.logo {
    margin: 0 auto;
    max-width: 70px;
  }

#hero-img {
    display: block;
    margin: 0 auto; 
    max-width: fit-content; 
    height: auto; 
}

#hero-msg {
    text-align: center;
}

.home-grid {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.home-grid section {
    margin-bottom: 20px; 
    text-align: center;
}

.card-img {
    max-width: 500px;
    height: auto; 
}

.icon {
    max-width: 70px; 
    height: auto; 
}

.color-area {
    width: 100%; 
    height: 500px; 
    background-color: #e4ca5e;
}

.footer {
    background-color: rgb(92, 115, 55);
}