body {
    background-color: purple;
}

section{
    padding: 30px;
}

.food {
    background-color: darkkhaki;
    color: blue;
    grid-row: 1/3;
}

.favcolor{
    background-color: rgb(198, 187, 198);
    color: crimson;
}

.Awesome{
    background-color: gold;
    font-size: 25px;
    font-weight: bold;
    grid-row: 1;
}

.Awesome div{
    background-color: silver;
}

main{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

